ion-slides {
    height: 100% !important;
    width: auto;
}

.swiper-slide {
    height: 100% !important;
    width: auto;
}
image {
    height: 100% !important;
}
svg {
    height: 95%;
}
ion-grid{
    height: 100% !important;
}
ion-row {
    height: 100% !important;
}

ion-col {
    height: 100% !important;
}
ion-content {
    --background: rgb(235, 236, 237);
}
.shade {
    opacity: 0.3;
}