<ion-content>
  <ion-slides
    [options]="slideOpts"
    (ionSlideTransitionEnd)="slideChange()"
    #slides
  >
  <ion-slide id="slide0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide32.JPG"
            ></image>
            <a (click)="onInfo('next')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide33.JPG"
            ></image>
            <a (click)="onInfo('next')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide34.JPG"
            ></image>
            <a (click)="onInfo('next')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide3">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide35.JPG"
            ></image>
            <a (click)="onInfo('gain1')">
              <rect
                x="42"
                y="464"
                [class.shade]="ifGain1 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('gain2')">
              <rect
                x="42"
                y="579"
                fill="#fca903"
                [class.shade]="ifGain2 == true"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('gain3')">
              <rect
                x="42"
                y="700"
                [class.shade]="ifGain3 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('gain4')">
              <rect
                x="43"
                y="815"
                [class.shade]="ifGain4 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('next')">
              <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide36.JPG"
            ></image>
            <a (click)="onInfo('next')">
              <rect
              x="649"
              y="17"
              fill="#fff"
              opacity="0"
              width="46"
              height="57"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide5">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide37.JPG"
            ></image>
            <a (click)="onInfo('next')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide6_0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide38.JPG"
            ></image>
            <a (click)="onInfo('terminal1')">
              <rect
                x="46"
                y="699"
                [class.shade]="ifTerm1 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('terminal2')">
              <rect
                x="45"
                y="815"
                [class.shade]="ifTerm2 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('next1')">
              <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide7_1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide39.JPG"
            ></image>
            <a (click)="onInfo('next1')">
              <rect
              x="649"
              y="17"
              fill="#fff"
              opacity="0"
              width="46"
              height="57"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide8_2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide40.JPG"
            ></image>
            <a (click)="onInfo('next1')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide9_3">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide41.JPG"
            ></image>
            <a (click)="onInfo('next1')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide10_4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide42.JPG"
            ></image>
            <a (click)="onInfo('next1')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide11_0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide43.JPG"
            ></image>
            <a (click)="onInfo('res1')">
              <rect
                x="42"
                y="464"
                [class.shade]="ifRes1 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('res2')">
              <rect
                x="42"
                y="579"
                fill="#fca903"
                [class.shade]="ifRes2 == true"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('res3')">
              <rect
                x="42"
                y="700"
                [class.shade]="ifRes3 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('res4')">
              <rect
                x="43"
                y="815"
                [class.shade]="ifRes4 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('next2')">
              <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide12_1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide44.JPG"
            ></image>
            <a (click)="onInfo('next2')">
              <rect
              x="649"
              y="17"
              fill="#fff"
              opacity="0"
              width="46"
              height="57"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide13_2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide45.JPG"
            ></image>
            <a (click)="onInfo('next2')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide14_3">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide47.JPG"
            ></image>
            <a (click)="onInfo('rec1')">
              <rect
                x="42"
                y="464"
                [class.shade]="ifRec1 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('rec2')">
              <rect
                x="42"
                y="579"
                fill="#fca903"
                [class.shade]="ifRec2 == true"
                opacity="0"
                width="633"
                height="101"
              ></rect>
            </a>
            <a (click)="onInfo('rec3')">
              <rect
                x="42"
                y="700"
                [class.shade]="ifRec3 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('rec4')">
              <rect
                x="43"
                y="815"
                [class.shade]="ifRec4 == true"
                fill="#fca903"
                opacity="0"
                width="633"
                height="100"
              ></rect>
            </a>
            <a (click)="onInfo('next2')">
              <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
            </a>

          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide15_4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide48.JPG"
            ></image>
            <a (click)="onInfo('next2')">
              <rect
              x="649"
              y="17"
              fill="#fff"
              opacity="0"
              width="46"
              height="57"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide16_5">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide49.JPG"
            ></image>
            <a (click)="onInfo('next2')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide17_0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide50.JPG"
            ></image>
            <a (click)="onInfo('invert1')">
              <rect
                x="29"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert2')">
              <rect
                x="385"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert3')">
              <rect
                x="30"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert4')">
              <rect
                x="385"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('next3')">
              <rect
                x="649"
                y="17"
                fill="#fff"
                opacity="0"
                width="46"
                height="57"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  
  <ion-slide id="slide18_1">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide51.JPG"
            ></image>
            <a (click)="onInfo('invert1')">
              <rect
                x="29"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert2')">
              <rect
                x="385"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert3')">
              <rect
                x="30"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert4')">
              <rect
                x="385"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('next3')">
              <rect
                x="649"
                y="17"
                fill="#fff"
                opacity="0"
                width="46"
                height="57"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide19_2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide52.JPG"
            ></image>
            <a (click)="onInfo('invert1')">
              <rect
                x="29"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert2')">
              <rect
                x="385"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert3')">
              <rect
                x="30"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert4')">
              <rect
                x="385"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('next3')">
              <rect
                x="649"
                y="17"
                fill="#fff"
                opacity="0"
                width="46"
                height="57"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide20_3">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide53.JPG"
            ></image>
            <a (click)="onInfo('invert1')">
              <rect
                x="29"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert2')">
              <rect
                x="385"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert3')">
              <rect
                x="30"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert4')">
              <rect
                x="385"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('next3')">
              <rect
                x="649"
                y="17"
                fill="#fff"
                opacity="0"
                width="46"
                height="57"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide21_4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide54.JPG"
            ></image>
            <a (click)="onInfo('invert1')">
              <rect
                x="29"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert2')">
              <rect
                x="385"
                y="854"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert3')">
              <rect
                x="30"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('invert4')">
              <rect
                x="385"
                y="1048"
                fill="#fff"
                opacity="0"
                width="160"
                height="148"
              ></rect>
            </a>
            <a (click)="onInfo('next3')">
              <rect
                x="649"
                y="17"
                fill="#fff"
                opacity="0"
                width="46"
                height="57"
              ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide22_5">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide55.JPG"
            ></image>
            <a (click)="onInfo('next3_1')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide23_6">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide56.JPG"
            ></image>
            <a (click)="onInfo('next3_1')">
              <rect
              x="43"
              y="1139"
              fill="#fff"
              opacity="0"
              width="118"
              height="114"
            ></rect>
            </a>
          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide id="slide24_7">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <div> -->
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 720 1280"
          >
            <image
              width="720"
              height="1280"
              xlink:href="../../assets/img/EL/Slide57.JPG"
            ></image>
            <a (click)="onInfo('done')">
              <rect
              x="39"
              y="1151"
              fill="#fff"
              opacity="0"
              width="342"
              height="88"
            ></rect>
            </a>
            <a (click)="onInfo('done')">
              <rect
              x="397"
              y="1153"
              fill="#fff"
              opacity="0"
              width="292"
              height="89"
            ></rect>
            </a>

          </svg>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  </ion-slides>
</ion-content>
