<ion-content>
  <ion-slides
    [options]="slideOpts"
    (ionSlideTransitionEnd)="slideChange()"
    #slides
  >
    <ion-slide id="slide0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide1.JPG"
              ></image>
              <a (click)="onInfo('next')">
                <rect
                  x="149"
                  y="1119"
                  fill="#fff"
                  opacity="0"
                  width="425"
                  height="107"
                ></rect>
              </a>
            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide id="slide1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide2.JPG"
              ></image>
              <a (click)="onInfo('next')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide3.JPG"
              ></image>
              <a (click)="onInfo('next')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide4.JPG"
              ></image>
              <a (click)="onInfo('next')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide4">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide5.JPG"
              ></image>
              <a (click)="onInfo('next')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide5">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide6.JPG"
              ></image>
              <a (click)="onInfo('strong')">
                <rect
                  x="38"
                  y="979"
                  fill="#fff"
                  opacity="0"
                  width="187"
                  height="175"
                ></rect>
              </a>
              <a (click)="onInfo('source')">
                <rect
                  x="274"
                  y="979"
                  fill="#fff"
                  opacity="0"
                  width="187"
                  height="175"
                ></rect>
              </a>
              <a (click)="onInfo('weak')">
                <rect
                  x="488"
                  y="979"
                  fill="#fff"
                  opacity="0"
                  width="187"
                  height="175"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide6_0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide7.JPG"
              ></image>
              <a (click)="onInfo('next1')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="56"
                  height="47"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide7_1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide8.JPG"
              ></image>
              <a (click)="onInfo('next1')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide8_2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide9.JPG"
              ></image>
              <a (click)="onInfo('gain1')">
                <rect
                  x="42"
                  y="464"
                  [class.shade]="ifGain1 == true"
                  fill="#fca903"
                  opacity="0"
                  width="633"
                  height="101"
                ></rect>
              </a>
              <a (click)="onInfo('gain2')">
                <rect
                  x="42"
                  y="579"
                  fill="#fca903"
                  [class.shade]="ifGain2 == true"
                  opacity="0"
                  width="633"
                  height="101"
                ></rect>
              </a>
              <a (click)="onInfo('gain3')">
                <rect
                  x="42"
                  y="700"
                  [class.shade]="ifGain3 == true"
                  fill="#fca903"
                  opacity="0"
                  width="633"
                  height="100"
                ></rect>
              </a>
              <a (click)="onInfo('gain4')">
                <rect
                  x="43"
                  y="815"
                  [class.shade]="ifGain4 == true"
                  fill="#fca903"
                  opacity="0"
                  width="633"
                  height="100"
                ></rect>
              </a>
              <a (click)="onInfo('next1')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide9_3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide10.JPG"
              ></image>
              <a (click)="onInfo('next1')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide10_4">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide11.JPG"
              ></image>
              <a (click)="onInfo('next1')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide11_0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide12.JPG"
              ></image>
              <a (click)="onInfo('next2')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide12_1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide13.JPG"
              ></image>
              <a (click)="onInfo('invert1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next2')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide13_2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide14.JPG"
              ></image>
              <a (click)="onInfo('invert1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next2')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide14_3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide15.JPG"
              ></image>
              <a (click)="onInfo('invert1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next2')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide15_4">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide16.JPG"
              ></image>
              <a (click)="onInfo('invert1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next2')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide16_5">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide17.JPG"
              ></image>
              <a (click)="onInfo('invert1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('invert4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next2')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide17_6">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide18.JPG"
              ></image>
              <a (click)="onInfo('next2_1')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide id="slide18_0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide19.JPG"
              ></image>
              <a (click)="onInfo('next3')">
                <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide19_1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide20.JPG"
              ></image>
              <a (click)="onInfo('noninv1')">
                <rect
                  x="46"
                  y="699"
                  [class.shade]="ifNonInv1 == true"
                  fill="#fca903"
                  opacity="0"
                  width="633"
                  height="100"
                ></rect>
              </a>
              <a (click)="onInfo('noninv2')">
                <rect
                  x="45"
                  y="815"
                  [class.shade]="ifNonInv2 == true"
                  fill="#fca903"
                  opacity="0"
                  width="633"
                  height="100"
                ></rect>
              </a>
              <a (click)="onInfo('next3')">
                <rect
                  x="43"
                  y="1139"
                  fill="#fff"
                  opacity="0"
                  width="118"
                  height="114"
                ></rect>
              </a>
            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide20_2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide21.JPG"
              ></image>
              <a (click)="onInfo('next3')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide21_3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide22.JPG"
              ></image>
              <a (click)="onInfo('next3')">
                <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide22_4">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide23.JPG"
              ></image>
              <a (click)="onInfo('next3')">
                <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide23_0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide24.JPG"
              ></image>
              <a (click)="onInfo('res1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next4')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide24_1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide25.JPG"
              ></image>
              <a (click)="onInfo('res1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next4')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide25_2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide26.JPG"
              ></image>
              <a (click)="onInfo('res1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next4')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide26_3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide27.JPG"
              ></image>
              <a (click)="onInfo('res1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next4')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide27_4">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide28.JPG"
              ></image>
              <a (click)="onInfo('res1')">
                <rect
                  x="29"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res2')">
                <rect
                  x="385"
                  y="854"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res3')">
                <rect
                  x="30"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('res4')">
                <rect
                  x="385"
                  y="1048"
                  fill="#fff"
                  opacity="0"
                  width="160"
                  height="148"
                ></rect>
              </a>
              <a (click)="onInfo('next4')">
                <rect
                  x="649"
                  y="17"
                  fill="#fff"
                  opacity="0"
                  width="46"
                  height="57"
                ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide28_5">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide29.JPG"
              ></image>
              <a (click)="onInfo('next4_1')">
                <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide29_6">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide30.JPG"
              ></image>
              <a (click)="onInfo('next4_1')">
                <rect
                x="43"
                y="1139"
                fill="#fff"
                opacity="0"
                width="118"
                height="114"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide30_7">
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- <div> -->
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 720 1280"
            >
              <image
                width="720"
                height="1280"
                xlink:href="../../assets/img/EL/Slide31.JPG"
              ></image>
              <a (click)="onInfo('continue')">
                <rect
                x="39"
                y="1151"
                fill="#fff"
                opacity="0"
                width="342"
                height="88"
              ></rect>
              </a>
              <a (click)="onInfo('done')">
                <rect
                x="397"
                y="1153"
                fill="#fff"
                opacity="0"
                width="292"
                height="89"
              ></rect>
              </a>

            </svg>
            <!-- </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
