ion-segment {
    margin-bottom: 15px;
}
// ion-row{ 
//     // border: 1px solid red;
// }

ion-col {
    // border: 1px solid blue;
    text-align: center;
    
}
ion-card-header{
    text-align: center;
    color: darkblue;
}
ion-card-subtitle{
    color: lightseagreen;
}


